<form action="/trips<%= trip ? '/' + trip._id + '?_method=PUT' : '' %>" method="POST">
  <div class="row" id="form">
    <div class="mdl-textfield mdl-js-textfield">
      <% if (trip) { %>
        <input class="mdl-textfield__input" name="name" placeholder="Trip Name" value="<%= trip.name %>">
      <% } else { %>
        <input class="mdl-textfield__input" name="name">
        <label class="mdl-textfield__label">Trip Name</label>
      <% } %>
    </div>
    <br>
    <div class="mdl-textfield mdl-js-textfield">
      <% if (trip) { %>
        <input class="mdl-textfield__input" name="tagline" placeholder="Tagline" value="<%= trip.tagline %>">
      <% } else { %>
        <input class="mdl-textfield__input" name="tagline">
        <label class="mdl-textfield__label">Tagline</label>
      <% } %>
    </div>
    <br>
    <div class="mdl-textfield mdl-js-textfield">
      <% if (trip) { %>
        <input class="mdl-textfield__input mdl-js-textfield autocomplete" name="location" id="ac2" placeholder="Location" value="<%= trip.location %>">
      <% } else { %>
        <input class="mdl-textfield__input mdl-js-textfield autocomplete" id="ac2" name="location" placeholder="Location">
        <label class="mdl-textfield__label"></label>
      <% } %>
    </div>
    <br>
    <div class="mdl-textfield mdl-js-textfield">
      <% if (trip) { %>
        <input class="mdl-textfield__input" name="summary" placeholder="Summary" value="<%= trip.summary %>">
      <% } else { %>
        <textarea class="mdl-textfield__input" name="summary"></textarea>
        <label class="mdl-textfield__label">Summary</label>
      <% } %>
    </div>
    <br>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="time">
      <% if (trip) { %>
        <% trip.stops.forEach(function(stop) { %>
          <input class="mdl-textfield__input" name="time" placeholder="Time" value="<%= stop.time %>">
        <% }) %>
      <% } else { %>
        <input class="mdl-textfield__input" name="time" placeholder="Time">
        <label class="mdl-textfield__label"></label>
      <% } %>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="stops">
      <% if (trip) { %>
        <% trip.stops.forEach(function(stop) { %>
          <input class="mdl-textfield__input mdl-js-textfield autocomplete" id="ac2" name="stop" placeholder="Stop" value="<%= stop.stop %>">
        <% }) %>
      <% } else { %>
        <input class="mdl-textfield__input mdl-js-textfield autocomplete" id="ac2" name="stop" placeholder="Stop">
        <label class="mdl-textfield__label" ></label>
      <% } %>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent" id="addStop">
      <i class="material-icons">add</i>
      <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent" id="removeStop">
        <i class="material-icons">remove</i>
    </button>
    <br>
    <div class="mdl-textfield mdl-js-textfield">
      <% if (trip) { %>
        <input class="mdl-textfield__input" name="tags" placeholder="Tags" value="<%= trip.tags %>">
      <% } else { %>
        <input class="mdl-textfield__input" name="tags">
        <label class="mdl-textfield__label">Tags</label>
      <% } %>
    </div>
  </div>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
  <% if (trip) { %>
    Save Trip
  <% } else { %>
    Add Trip
  <% } %>
  </button>

</form>

<script type="text/javascript">
function initialize() {
    var acInputs = document.getElementsByClassName("autocomplete");
    for (var i = 0; i < acInputs.length; i++) {
        var autocomplete = new google.maps.places.Autocomplete(acInputs[i]);
        autocomplete.inputId = acInputs[i].id;
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            document.getElementById("log").innerHTML = 'You used input with id ' + this.inputId;
        });
    }
}
initialize();
</script>

<script>
 var nextAc = 3;

  $("#addStop").click(function(e) {
    e.preventDefault();
  //Append a new row of code to the "#stops" div
  $("#stops").append(`<div><input class="mdl-textfield__input mdl-js-textfield autocomplete dynamic" id="ac[${nextAc}]" name="stop" placeholder="Stop"</div>`)
    $("#time").append('<div><input class="mdl-textfield__input dynamic" name="time" placeholder="Time"</div>');

   var auto = new google.maps.places.Autocomplete(document.getElementById(`ac[${nextAc}]`));
   auto.inputId = document.getElementById(`ac[${nextAc}]`).id;
   nextAc++
  });
  </script>

  <script>
    $("#removeStop").click(function(e){
      e.preventDefault();
      $('#stops').remove(".dynamic")
    })
  </script>
