<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/_head %>
  </head>
  <body>
  <% include ./partials/_nav %>
    <div class="trips container">
        <h1>All Trips</h1>
        <p>This is the index view</p>
        <% trips.forEach(function(trip, index) { %>
            <%= trip.name %><br>
            <%= trip.tagline %><br>
            <%= trip.location %><br>
            <%= trip.summary %><br>
            <%= trip.stops[0].time %><br>
            <%= trip.stops[0].stop %><br>
            <%= trip.tags %><br>
        <% }) %>
    </div>
  </body>
</html>
