<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">
      if (window.location.hash == '#_=_') {
        window.location.hash = '';
        history.pushState('', document.title, window.location.pathname);
      }
    </script>
    <% include ./partials/_head %>
  </head>
  <body>
  <% include ./partials/_nav %>
    <main class="mdl-layout__content">
    <div class="page-content tripio-content">
        <h2>All Trips</h2>
        <% trips.forEach(function(trip, index) { %>
            <div class="tripio-card mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text"><%= trip.name %></h2>
            </div>
            <div class="mdl-card__supporting-text">
                <%= trip.tagline %><br>
                <%= trip.location %><br>
                <%= trip.summary %><br>
                <%= trip.stops[0].time %><br>
                <%= trip.stops[0].stop %><br>
                <%= trip.tags %>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/trips/<%= trip._id %>">View This Trip</a>
            </div>
            <div class="mdl-card__menu">
                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">share</i>
                </button>
            </div>
            </div><br>
        <% }) %>
    </div>
    </main>
    </div>
  </body>
</html>
