<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/_head %>
  </head>
  <body>
  <% include ./partials/_nav %>
    <main class="mdl-layout__content">
    <div class="page-content tripio-content">
    <div class="mdl-grid">
        <!-- search bar -->
        <div class="mdl-cell mdl-cell--12-col" id="search">
            <form action="#">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable" id="search-field">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6" id="search-icon">
                  <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                  <input class="mdl-textfield__input" type="text" id="sample6" placeholder="Search for trips" onkeyup="searchTrips()">
                  <label class="mdl-textfield__label" for="sample-expandable">Search Bar</label>
                </div>
              </div>
            </form>
        </div>
        <!-- all trip cards -->
        <% trips.forEach(function(trip, index) { %>
            <div class="tripio-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text"><%= trip.name %></h2>
            </div>
            <div class="mdl-card__supporting-text">
                <%= trip.tagline %><br>
                <%= trip.location %>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect" href="/trips/<%= trip._id %>">View This Trip</a>
                <div class="tripio-rating">
                    <div id="<%= 'rating-' + index %>">
                        <img class="tripio-stars" src="images/transparent_stars.png" alt="Start">
                    </div>
                </div>
            </div>
            <div class="mdl-card__menu">
                <a href="https://www.google.com" target="_blank">
                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">share</i>
                </button>
                </a>
            </div>
            </div><br>
        <% }) %>
    </div>
    </div>
    </main>
    </div>
    <script>
        var ratings = [
        <% trips.forEach(function(trip, index) { %>
            <%= trip.avgRating %>,
        <% }) %>
        ];
        ratings.forEach(function(rating, idx) {
           var ratingPercentage = rating / 5 * 100;
           document.getElementById(`rating-${idx}`).style.width=`${ratingPercentage}%`;
        });
     </script>
  </body>
</html>
