<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">
      if (window.location.hash == '#_=_') {
        window.location.hash = '';
        history.pushState('', document.title, window.location.pathname);
        e.preventDefault();
      }
    <% include ./partials/_head %>
  </script>
  </head>
  <body>
  <% include ./partials/_nav %>
    <main class="mdl-layout__content">
    <div class="page-content tripio-content">
        <h1>All Trips</h1>
        <p>This is the index view</p>
        <% trips.forEach(function(trip, index) { %>
            <%= trip.name %><br>
            <%= trip.tagline %><br>
            <%= trip.location %><br>
            <%= trip.summary %><br>
            <%= trip.stops[0].time %><br>
            <%= trip.stops[0].stop %><br>
            <%= trip.tags %><br>
        <% }) %>
    </div>
    </main>
    </div>
  </body>
</html>
