<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/_head %>
  </head>
  <body>
  <% include ./partials/_nav %>
    <main class="mdl-layout__content">
    <div class="page-content tripio-content">
    <H4 class="tripio-my-trips mdl-typography--text-uppercase">my trips</H4>
    <div class="mdl-grid">
        <% user.trips.forEach(function(trip, index) { %>
            <div class="tripio-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text"><%= trip.name %></h2>
            </div>
            <div class="mdl-card__supporting-text">
                <%= trip.tagline %><br>
                <%= trip.location %>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect" href="/trips/<%= trip._id %>">View This Trip</a>
                <a class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect" href="/trips/<%= trip._id %>/edit">Edit This Trip</a>
                <form action="/trips/<%= trip._id %>?_method=DELETE" method="POST">
                    <button class="mdl-button mdl-js-button mdl-button--accent" type="submit">Delete This Trip</button>
                </form>
                <%= trip.avgRating %>
                    <div class="tripio-rating">
                        <div  id="<%= 'rating-' + index %>">
                            <img class="tripio-stars" src="images/transparent_stars.png" alt="Start">
                        </div>
                    </div>
            </div>
            <div class="mdl-card__menu">
                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">share</i>
                </button>
            </div>
            </div><br>
        <% }) %>
    </div>
    </div>
    </main>
    </div>
    <script>
        var ratings = [
        <% user.trips.forEach(function(trip, index) { %>
            <%= trip.avgRating %>,
        <% }) %>
        ];
        ratings.forEach(function(rating, idx) {
           var ratingPercentage = rating / 5 * 100;
           document.getElementById(`rating-${idx}`).style.width=`${ratingPercentage}%`;
        });
     </script>
  </body>
</html>

