<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/_head %>
  </head>
  <body>
    <!-- Nav bar goes here -->
    <main class="mdl-layout__content">
    <div class="page-content tripio-content">
        <h2><%= trip.name %></h2>
        <h6><%= trip.tagline %></h6>
            <%= trip.location %><br>
            <%= trip.summary %><br>
            <%= trip.stops[0].time %><br>
            <%= trip.stops[0].stop %><br>
            <%= trip.tags %>
    </div>
    </main>
    </div>
  </body>
</html>
