<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/_head %>
  </head>
  <body>
    <!-- Nav bar should go here -->
    <!-- <main class="mdl-layout__content"> -->
    <div class="page-content tripio-content ">
    <div class="centeritems mdl-grid">
        <div class="mdl-layout-spacer"></div>
            <div class="mdl-cell mdl-cell--6-col">
                <span class="tripio-show">
                    <h3><%= trip.name %></h3>
                    <h4><%= trip.tagline %></h4><br>
                </span>
                <p>Google Map appears here</p>
                <p>
                    <%= trip.location %>&nbsp;&nbsp;|&nbsp;&nbsp;
                    Star Rating<br>
                    <%= trip.summary %><br><br>
                    <%= trip.stops[0].time %>&nbsp;&nbsp;@&nbsp;&nbsp;
                    <%= trip.stops[0].stop %><br><br>
                    Tags: <%= trip.tags %>
                </p>
            </div>
        <div class="mdl-layout-spacer"></div>
    </div>
    </div>
    <!-- </main> -->
    </div>
  </body>
</html>
