<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/_head %>
  </head>
  <body>
    <% include ./partials/_nav %>
    <main class="mdl-layout__content">
    <div class="page-content">
    <div class="centeritems mdl-grid">
        <div class="mdl-layout-spacer"></div>
            <div class="mdl-cell mdl-cell--6-col">
                <span class="tripio-show">
                    <h3><%= trip.name %></h3>
                    <h3><%= trip.avgRating %></h3>
                    <h4><%= trip.tagline %></h4><br>
                </span>
                <p>Google Map appears here</p>
                 <!--  <a href="/trips/<%= trip._id %>/ratings?rating=5"><label class="star star-5" for="star-5"></label></a>
                  <a href="/trips/<%= trip._id %>/ratings?rating=4"><label class="star star-4" for="star-4"></label></a>
                  <a href="/trips/<%= trip._id %>/ratings?rating=3"><label class="star star-3" for="star-3"></label></a>
                  <a href="/trips/<%= trip._id %>/ratings?rating=2"><label class="star star-2" for="star-2"></label></a>
                  <a href="/trips/<%= trip._id %>/ratings?rating=1"><label class="star star-1" for="star-1"></label></a> -->
                <p>
                <div id="rating">
                  <a href="/trips/<%= trip._id %>/ratings?rating=1"><span>★</span></a>
                  <a href="/trips/<%= trip._id %>/ratings?rating=2"><span>★</span></a>
                  <a href="/trips/<%= trip._id %>/ratings?rating=3"><span>★</span></a>
                  <a href="/trips/<%= trip._id %>/ratings?rating=4"><span>★</span></a>
                  <a href="/trips/<%= trip._id %>/ratings?rating=5"><span>★</span></a>
                </div>
                    <%= trip.location %>
                    <br>
                    <%= trip.summary %><br><br>
                    <%= trip.stops[0].time %>&nbsp;&nbsp;@&nbsp;&nbsp;
                    <%= trip.stops[0].stop %><br><br>
                    Tags: <%= trip.tags %>
                </p>
            </div>
        <div class="mdl-layout-spacer"></div>
    </div>
    </div>
    </main>
    </div>
  </body>
</html>
