<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/_head %>
  </head>
  <body>
    <% include ./partials/_nav %>
    <main class="mdl-layout__content">
    <div class="page-content">
    <div class="centeritems mdl-grid">
        <div class="mdl-layout-spacer"></div>
            <div class="mdl-cell mdl-cell--6-col">
                <span class="tripio-show">
                    <h3><%= trip.name %></h3>

                      <div class="tripio-rating">
                          <div id="rating-show">
                              <img class="tripio-stars" src="../images/transparent_stars.png" alt="Start">
                          </div>
                      </div>

                    <h4><%= trip.tagline %></h4><br>
                </span>
                <div id="map_canvas"></div>
                <p>
                <% if (user) { %>
                <div id="rating">
                    <div id="rating">
                      <a href="/trips/<%= trip._id %>/ratings?rating=1"><span>★</span></a>
                      <a href="/trips/<%= trip._id %>/ratings?rating=2"><span>★</span></a>
                      <a href="/trips/<%= trip._id %>/ratings?rating=3"><span>★</span></a>
                      <a href="/trips/<%= trip._id %>/ratings?rating=4"><span>★</span></a>
                      <a href="/trips/<%= trip._id %>/ratings?rating=5"><span>★</span></a>
                    </div>
                </div>
                <% } %>
                    <%= trip.location %>
                    <br>
                    <%= trip.summary %><br><br>
                    <% trip.stops.forEach(function(stop) { %>
                      <%= stop.time %>&nbsp;&nbsp;@&nbsp;&nbsp;
                      <%= stop.stop %><br><br>
                    <% }) %>
                    Tags: <%= trip.tags %>
                </p>
            </div>
        <div class="mdl-layout-spacer"></div>
    </div>
    </div>
    </main>
    </div>
    <% include ./partials/_footer %>
    <script>
    $(document).ready(function () {
      var address = location
      var map;
      var elevator;
      var myOptions = {
          zoom: 10,
          center: new google.maps.LatLng(0, 0),
          mapTypeId: 'terrain'
      };
      map = new google.maps.Map($('#map_canvas')[0], myOptions);
      var trip = <%- tripJSON %>;
      var addresses = trip.stops.map(function(stop) { return stop.stop; });
      console.log(addresses);
      for (var x = 0; x < addresses.length; x++) {
          $.getJSON('http://maps.googleapis.com/maps/api/geocode/json?address='+addresses[x]+'&sensor=false', null, function (data) {
              var p = data.results[0].geometry.location
              var latlng = new google.maps.LatLng(p.lat, p.lng);
              map.setCenter(latlng)
              new google.maps.Marker({
                  position: latlng,
                  map: map
              });
            })
          }
        })
   </script>

   <script>
          var ratingPercentage = <%=  trip.avgRating/5 * 100 %>;
          document.getElementById(`rating-show`).style.width=`${ratingPercentage}%`;
    </script>
  </body>
</html>
Contact GitHub API Training Shop Blog About
© 2017 GitHub, Inc. Terms Privacy Security Status Help
