<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/_head %>
  </head>
  <body>
    <!-- Nav bar goes here -->
    <!-- <main class="mdl-layout__content"> -->
    <div class="page-content tripio-content ">
    <div class="centeritems mdl-grid">
        <div class="mdl-layout-spacer"></div>
            <div class="mdl-cell mdl-cell--4-col">
                <h2><%= trip.name %></h2><br>
                <h6><%= trip.tagline %></h6>
                    <%= trip.location %><br>
                    <%= trip.summary %><br>
                    <%= trip.stops[0].time %><br>
                    <%= trip.stops[0].stop %><br>
                    <%= trip.tags %>
            </div>
        <div class="mdl-layout-spacer"></div>
    </div>
    </div>
    <!-- </main> -->
    </div>
  </body>
</html>
