<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/_head %>
  </head>
  <body>
    <% include ./partials/_nav %>
    <main class="mdl-layout__content">
    <div class="page-content">
    <div class="centeritems mdl-grid">
        <div class="mdl-layout-spacer"></div>
            <div class="mdl-cell mdl-cell--6-col">
                <span class="tripio-show">
                    <h3><%= trip.name %></h3>
                    <h4><%= trip.tagline %></h4><br>
                </span>
                <p>Google Map appears here</p>
                <p>
                    <%= trip.location %>&nbsp;&nbsp;|&nbsp;&nbsp;
                    Star Rating<br>
                    <%= trip.summary %><br><br>
                    <%= trip.stops[0].time %>&nbsp;&nbsp;@&nbsp;&nbsp;
                    <%= trip.stops[0].stop %><br><br>
                    Tags: <%= trip.tags %>
                </p>
            </div>
        <div class="mdl-layout-spacer"></div>
        <div class="stars">
          <form action="">
            <input class="star star-5" id="star-5" type="radio" name="star"/>
            <label class="star star-5" for="star-5"></label>
            <input class="star star-4" id="star-4" type="radio" name="star"/>
            <label class="star star-4" for="star-4"></label>
            <input class="star star-3" id="star-3" type="radio" name="star"/>
            <label class="star star-3" for="star-3"></label>
            <input class="star star-2" id="star-2" type="radio" name="star"/>
            <label class="star star-2" for="star-2"></label>
            <input class="star star-1" id="star-1" type="radio" name="star"/>
            <label class="star star-1" for="star-1"></label>
          </form>
        </div>
    </div>
    </div>
    </main>
    </div>
  </body>
</html>
